.jewel-light {
    width: 75px; height: 75px; background: var(--dim-green); 
    border: 5px solid #666; border-radius: 50%; margin-bottom: 20px;
    transition: background-color 0.5s; box-shadow: inset 0 0 15px #000;
}

#pwr-sw:checked ~ .jewel-light { background-color: #002200; } 
#pwr-sw:checked ~ #pre-sw:checked ~ .jewel-light { animation: preheatFlicker 0.1s infinite; }
#pwr-sw:checked ~ #reac-sw:checked ~ .jewel-light { animation: reactorHeatFlicker 0.1s infinite; }

@keyframes preheatFlicker { 0%, 100% { background-color: var(--reactor-heat-preheat); box-shadow: 0 0 30px var(--reactor-heat-preheat); } 50% { background-color: #ffd700; } }
@keyframes reactorHeatFlicker { 0%, 100% { background-color: var(--reactor-heat-on); box-shadow: 0 0 40px var(--reactor-heat-on); } 50% { background-color: #ff4500; } }
